<!DOCTYPE html>
<html>
<head>
    <title>Auto</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="app">
    <div class="home">
        <div class="grid">
            <div class="wrapper" @click="openDetailModal(car)"  :style="style" v-for="car in cars">
                <img class="car-logo" :src="logo" :alt="car.manufacturer"/>
                <div class="car-model">{{car.manufacturer}} {{car.model}}</div>
            </div>
            <div class="wrapper" @click="openAddModal">
                <div class="add">+</div>
            </div>
        </div>
        <div v-if="detailModal" class="detail-modal">
            <div class="right-side">
                <h1 class="car-modal-title">{{viewCar.manufacturer}} {{viewCar.model}} {{viewCar.year}}</h1>
                <img class="modal-image" src="./assets/mazda.png">
                <form>
                    <label for="carTiming">Aktualny przebieg</label>
                    <input v-model="viewCar.actualCarTiming" type="number" class="car-timing" id="carTiming">
                    <button class="save" @click="save">Zapisz</button>
                </form>
            </div>
            <div class="left-side">
                <h3 class="used-title">Elementy</h3>
                <div v-for="element in viewCar.elements" class="car-element" :class="checkClassUsage(element.currentValue)">
                    <p class="title">{{element.name}} : {{element.currentValue}}km</p>
                    <div class="fix" @click="fixElement(element)">{{messages.fix}}</div>
                    <div class="unfix" @click="unfixElement(element)">{{messages.back}}</div>
                </div>
            </div>
            <div class="close" @click="closeModal"></div>
        </div>
        <div v-if="addModal" class="add-modal">
            <div class="right-side">
                <h1 class="car-modal-title"></h1>
                <div class="modal-image">car image</div>
                <form>
                    <label for="carTiming">Aktualny przebieg</label>
                    <input type="number" class="car-timing">
                    <button class="save" @click="addCar">Zapisz</button>
                </form>
            </div>
            <div class="left-side">
                <h3 class="used-title">Elementy</h3>
            </div>
            <div class="close" @click="closeModal"></div>
        </div>
    </div>
</div>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            cars: [
                {
                    id: 1,
                    manufacturer: 'Mazda',
                    model: 'RX8',
                    year: 2000,
                    actualCarTiming: 30001,
                    elements: [
                        {
                            id: 1,
                            name: "Silnik",
                            currentValue: 30000,
                            upValue: 3000,
                        },
                        {
                            id: 2,
                            name: "Koła",
                            currentValue: 40000,
                            upValue: 3000,
                        }
                    ]
                },
                {
                    id: 2,
                    manufacturer: 'Kia',
                    model: 'Vemga',
                    year: 2000,
                    actualCarTiming: 5000,
                    elements: [
                        {
                            id: 1,
                            name: "Silnik",
                            currentValue: 30000,
                            upValue: 3000,
                        },
                        {
                            id: 2,
                            name: 'Wycieraczki',
                            currentValue: 6000,
                            upValue: 3000,
                        },
                        {
                            id: 3,
                            name: "Koła",
                            currentValue: 5000,
                            upValue: 3000,
                        }
                    ]
                }
            ],
            fixed: false,
            errors: [],
            addModal: false,
            detailModal: false,
            messages: {fix: 'NAPRAW', back: 'COFNIJ'},
            viewCar: null
        },
        computed: {
            logo() {
                // const images = require.context('../assets/logos', false, /\.png$/);
                // return images(`./${this.car.manufacturer.toLowerCase()}.png`);
            },
            style() {
                // const images = require.context('../assets', false, /\.png$/);
                // const url = images(`./${this.car.image}`);
                // console.log(images, url);
                // return `backgroundImage: url("${url}")`;
                return `backgroundImage: url(./assets/mazda.png)`;
            }
        },
        watch: {
        },
        methods: {
            openDetailModal(car) {
                console.log('detail modal');
                car.elements.sort((a, b) => {
                    return a.currentValue - b.currentValue;
                });
                this.viewCar = car;
                this.detailModal = true;
            },
            openAddModal() {
                this.addModal = true;
                console.log(this.addModal)
            },
            closeModal() {
                this.detailModal = false;
                this.addModal = false;
                this.viewCar = null;
            },
            save() {
                alert('save');
            },
            checkClassUsage(currentValue) {
                const timing = this.viewCar.actualCarTiming;
                return {
                    'used' : currentValue <= timing,
                    'almost' : currentValue > timing && currentValue - timing < 3000,
                };
            },
            fixElement(element) {
                element.currentValue += element.upValue;
            },
            unfixElement(element) {
                element.currentValue -= element.upValue;
            }
        }
    })
</script>
