<!DOCTYPE html>
<html>
<head>
    <title>Auto</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div id="app">
    <div class="home">
        <div class="grid">
            <div class="wrapper" @click="openDetailModal"  :style="style">
                <img class="car-logo" :src="logo" :alt="car.manufacturer"/>
                <div class="car-model">{{car.manufacturer}} {{car.model}}</div>
            </div>
            <div class="wrapper" @click="openDetailModal" :style="style">
                <img class="car-logo" :src="logo" :alt="car.manufacturer"/>
                <div class="car-model">{{car.manufacturer}} {{car.model}}</div>
            </div>
            <div class="wrapper" @click="openDetailModal" :style="style">
                <img class="car-logo" :src="logo" :alt="car.manufacturer"/>
                <div class="car-model">{{car.manufacturer}} {{car.model}}</div>
            </div>
            <div class="wrapper" @click="openDetailModal">
                <div class="add">+</div>
            </div>
        </div>
        <div v-if="detailModal" class="modal">
            <div class="right-side">
                <h1 class="car-modal-title">{{car.manufacturer}} {{car.model}} {{car.year}}</h1>
                <img class="modal-image" src="./assets/mazda.png">
                <form>
                    <label for="carTiming">Aktualny przebieg</label>
                    <input type="text" class="car-timing" id="carTiming">
                    <button @click="save">Zapisz</button>
                </form>
            </div>
            <div class="left-side">
                <h3 class="used-title">Zużute elementy</h3>
                <div v-for="element in car.elements" class="used-element">
                    <p>{{element.name}} - zużyto po {{element.value}}km</p>
                    <span>&#10003;</span>
                </div>
            </div>
            <div class="close" @click="closeDetailModal"/>
        </div>
    </div>
</div>


<script>
    var app = new Vue({
        el: '#app',
        data: {
            car: {
                manufacturer: 'Mazda',
                model: 'RX8',
                year: 2000,
                elements: [
                    {
                        name: "Silnik",
                        value: 30000,
                    },
                    {
                        name: "Koła",
                        value: 40000
                    }
                ]
            },
            errors: [],
            addModal: false,
            detailModal: false,
        },
        computed: {
            logo() {
                // const images = require.context('../assets/logos', false, /\.png$/);
                // return images(`./${this.car.manufacturer.toLowerCase()}.png`);
            },
            style() {
                // const images = require.context('../assets', false, /\.png$/);
                // const url = images(`./${this.car.image}`);
                // console.log(images, url);
                // return `backgroundImage: url("${url}")`;
                return `backgroundImage: url(./assets/mazda.png)`;
            },
        },
        watch: {
        },
        methods: {
            openDetailModal(event) {
                this.detailModal = true;
            },
            closeDetailModal() {
                this.detailModal = false;
            },
            save() {
                alert('save');
            }
        }
    })
</script>
</body>
</html>
